#include "Pods-Tests-OpenSSL.xcconfig"
GCC_PREPROCESSOR_DEFINITIONS = COCOAPODS=1
HEADER_SEARCH_PATHS = "${PODS_ROOT}/BuildHeaders" "${PODS_ROOT}/BuildHeaders/OpenSSL" "${PODS_ROOT}/BuildHeaders/OpenSSL/openssl" "${PODS_ROOT}/Headers" "${PODS_ROOT}/Headers/AFNetworking" "${PODS_ROOT}/Headers/Appirater" "${PODS_ROOT}/Headers/BlocksKit" "${PODS_ROOT}/Headers/CDEvents" "${PODS_ROOT}/Headers/CocoaAsyncSocket" "${PODS_ROOT}/Headers/CocoaHTTPServer" "${PODS_ROOT}/Headers/CocoaLumberjack" "${PODS_ROOT}/Headers/CorePlot" "${PODS_ROOT}/Headers/GHUnitIOS" "${PODS_ROOT}/Headers/HockeySDK" "${PODS_ROOT}/Headers/NSLogger" "${PODS_ROOT}/Headers/OpenSSL" "${PODS_ROOT}/Headers/OpenSSL/openssl" "${PODS_ROOT}/Headers/PureLayout" "${PODS_ROOT}/Headers/RMStore" "${PODS_ROOT}/Headers/Reachability" "${PODS_ROOT}/Headers/ReactiveCocoa" "${PODS_ROOT}/Headers/ReactiveCocoa/ReactiveCocoa" "${PODS_ROOT}/Headers/SSKeychain" "${PODS_ROOT}/Headers/SSZipArchive" "${PODS_ROOT}/Headers/SSZipArchive/minizip" "${PODS_ROOT}/Headers/SocketRocket" "${PODS_ROOT}/Headers/SocketShuttle"
LIBRARY_SEARCH_PATHS = ${PODS_TESTS_OPENSSL_LIBRARY_SEARCH_PATHS}
OTHER_LDFLAGS = -ObjC ${PODS_TESTS_OPENSSL_OTHER_LDFLAGS}
PODS_ROOT = ${SRCROOT}