PODS_RMSTORE_HEADER_SEARCH_PATHS = ${PODS_ROOT}/RMStore/RMStore/Optional/openssl-1.0.1e/include/**
PODS_RMSTORE_LIBRARY_SEARCH_PATHS = "$(PODS_ROOT)/RMStore/RMStore/Optional/openssl-1.0.1e/lib" "$(PODS_ROOT)/RMStore/RMStore/Optional/openssl-1.0.1e/lib"
PODS_RMSTORE_OTHER_LDFLAGS = -lcrypto -lssl -framework Security -framework StoreKit