GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = "${PODS_ROOT}/Headers/Private" "${PODS_ROOT}/Headers/Private/RMStore" "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/AFNetworking" "${PODS_ROOT}/Headers/Public/Appirater" "${PODS_ROOT}/Headers/Public/GHUnitIOS" "${PODS_ROOT}/Headers/Public/HockeySDK" "${PODS_ROOT}/Headers/Public/NSLogger" "${PODS_ROOT}/Headers/Public/PureLayout" "${PODS_ROOT}/Headers/Public/RMStore" "${PODS_ROOT}/Headers/Public/Reachability" "${PODS_ROOT}/Headers/Public/ReactiveCocoa" "${PODS_ROOT}/Headers/Public/SSKeychain" "${PODS_ROOT}/Headers/Public/SocketRocket" "${PODS_ROOT}/Headers/Public/SocketShuttle" ${PODS_ROOT}/RMStore/RMStore/Optional/openssl-1.0.1e/include/**
LIBRARY_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/RMStore/RMStore/Optional/openssl-1.0.1e/lib" $(inherited) "${PODS_ROOT}/RMStore/RMStore/Optional/openssl-1.0.1e/lib"
OTHER_LDFLAGS = -l"crypto" -l"ssl" -framework "Security" -framework "StoreKit"
PODS_ROOT = ${SRCROOT}
SKIP_INSTALL = YES