<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HockeySDKResources.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServer-CocoaAsyncSocket.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServer-CocoaHTTPServer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServer-CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServerTests-CocoaAsyncSocket.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServerTests-CocoaHTTPServer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServerTests-CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AIServerTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AISpecRunner-BlocksKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AISpecRunner-CDEvents.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AISpecRunner-CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AISpecRunner-CorePlot.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AISpecRunner.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Appirater.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-BlocksKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-HockeySDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-NSLogger.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PlaybackControl-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PlaybackControl-BlocksKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PlaybackControl-ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PlaybackControl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PureLayout.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-RMStore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Reachability.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SSKeychain.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SSZipArchive.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SocketRocket.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SocketShuttle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-Appirater.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-BlocksKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-GHUnitIOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-HockeySDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-NSLogger.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-PureLayout.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-RMStore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-Reachability.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-SSKeychain.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-SSZipArchive.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-SocketRocket.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests-SocketShuttle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0007A6A57426885406D766E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C8364B3C12A8BD8BDE6528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04932A3028FA1302EBBCFFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C1DF361022293A4DC44C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D1A45FBD0F6C20C0B129DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D5269D7D9F4F383668A7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1658F454C14C586684FC1178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7A5146FB4DDA761F0F4906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B9E18B7AF1039EB1A3B3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>210977774AA8915A501EBD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2446DEDC3DDE7E2938E2D6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27938AC994B2848011E2598B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29B79743EF18DF3B5A8125B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3097A652B231A926621E3C0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3223FE18D2CD88F31CB20A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CBC8A2306CDB02BCCD38A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECB52766A5E0FDE6FE1D29F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4268DA7DD802F4442FE9BA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45273DEDDF1B5E6D45F641D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492779E69A53B4E7BA1928EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5114A69670DDAB1DD582F18A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE612391A0773D6060891C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB2D6D1BC5E0C9EA8C86E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D52A627783D4B569461FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73B520F7C971B0EE3FD824BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7411DA54B7CE48D13BF488BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>742D336E209B3E553385E26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79841B341E8006EECF67C7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81611988E0BD8B30A92AA122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86DA9FE0503587D1F5D2C9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9458E2DB5D2CD779FFAF6558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B0926CFA2E18E641842B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E17FB276E551E0D9BB6B1F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6B9AC2D0AEB1C07C86590E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7E49D45EEDC0C35180041A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4D26DBAF7DDE585F0C8918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8DF296775819521E078F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C35B669F93477616D60DBBEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1D18A0F57EADDE2F4AA71B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB86111C812A23FF1BB63D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E313CFB6394DC08F56CE1BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6AB32BA0000D8204A695D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA572E84FC574BC26F8BD34A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBF50F00A7ECD5156ED722E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6728C80AE4B049DD500C695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB9E725BE862A75E044CF3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE31E0977295DB3A72394246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
