<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06BC0A2CDC184201BAB039CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EC770A53C7469AB816B160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149132F5927F4F038AB17F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E032D6450640FAA041D6DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26192A855C18464DA7BAAEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279D38399BA34E669370282B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27AC0352124241D49D1B47C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28048EBD3F8C42A0948FC9BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28098A2FFFA342AB9010AC40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F3D6C6C6C047239DE33227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492DD05C7C6B47C787417504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B423CCEB91040FCBDEAD054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F920AF62DBD41EB9500862C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD121CB4492492DAE3890D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F8C184ED8A480D9A0DA696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A82AA032ABA4668B3D5838D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC09985EA8D43A893B09EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C392CB25CB94890BE940BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61DEFF92810245F8ACBB7A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F9E1BFD0D5484DB539A34D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63D6420CBCFD4FBAAEDF5697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67165F5C29D145C8BDFFE0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BAE512035454ECD9DE0D76F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>729839D199934A058B1E0F9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>734E229DEEB84C39BFD3226E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0B4C5C450041E486944FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FCB629096ED4140B29C1BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE6AC3EF20140BF90E5170B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84AF3F2F939B4337AED93573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B5D9CE7D9A74F5188C0BE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CB914205A94447F861F41CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E4D77563040444BBDDD16BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90EBF57BCAFB4A249D3A31E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>926BBBB85C59465C88063F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98ED7B9FE3934CA996401443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB21D0782E64101AA03A721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B52D7316D80641798893077F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0C9BEDFA38C4B42A7E2CCA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C73845E478AE426ABA2DA630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2183B688495410ABC110E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D27E1A7D0F0840C3B8828EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBC91B9CFC1E486482DC487E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD52A2B5934A44599646BC66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF3F1EA731934ACC81FD7E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED7E0F1C62234839BCE5410B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDA7336265A8413DA64D0A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43692FDC4514F87A77C2DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
