FRAMEWORK_SEARCH_PATHS = "$(PODS_ROOT)/HockeySDK/Vendor"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1 $(inherited) BITHOCKEY_VERSION="@\"3.5.7\"" BITHOCKEY_C_VERSION="\"3.5.7\"" BITHOCKEY_BUILD="@\"32\"" BITHOCKEY_C_BUILD="\"32\""
HEADER_SEARCH_PATHS = "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/AFNetworking" "${PODS_ROOT}/Headers/Public/Appirater" "${PODS_ROOT}/Headers/Public/GHUnitIOS" "${PODS_ROOT}/Headers/Public/HockeySDK" "${PODS_ROOT}/Headers/Public/NSLogger" "${PODS_ROOT}/Headers/Public/PureLayout" "${PODS_ROOT}/Headers/Public/RMStore" "${PODS_ROOT}/Headers/Public/Reachability" "${PODS_ROOT}/Headers/Public/ReactiveCocoa" "${PODS_ROOT}/Headers/Public/ReactiveCocoa/ReactiveCocoa" "${PODS_ROOT}/Headers/Public/SSKeychain" "${PODS_ROOT}/Headers/Public/SocketRocket" "${PODS_ROOT}/Headers/Public/SocketShuttle" ${PODS_ROOT}/RMStore/RMStore/Optional/openssl-1.0.1e/include/**
LIBRARY_SEARCH_PATHS = "$(PODS_ROOT)/RMStore/RMStore/Optional/openssl-1.0.1e/lib" "$(PODS_ROOT)/RMStore/RMStore/Optional/openssl-1.0.1e/lib"
OTHER_CFLAGS = $(inherited) -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/AFNetworking" -isystem "${PODS_ROOT}/Headers/Public/Appirater" -isystem "${PODS_ROOT}/Headers/Public/GHUnitIOS" -isystem "${PODS_ROOT}/Headers/Public/HockeySDK" -isystem "${PODS_ROOT}/Headers/Public/NSLogger" -isystem "${PODS_ROOT}/Headers/Public/PureLayout" -isystem "${PODS_ROOT}/Headers/Public/RMStore" -isystem "${PODS_ROOT}/Headers/Public/Reachability" -isystem "${PODS_ROOT}/Headers/Public/ReactiveCocoa" -isystem "${PODS_ROOT}/Headers/Public/ReactiveCocoa/ReactiveCocoa" -isystem "${PODS_ROOT}/Headers/Public/SSKeychain" -isystem "${PODS_ROOT}/Headers/Public/SocketRocket" -isystem "${PODS_ROOT}/Headers/Public/SocketShuttle"
OTHER_LDFLAGS = -ObjC -l"Pods-Tests-AFNetworking" -l"Pods-Tests-Appirater" -l"Pods-Tests-GHUnitIOS" -l"Pods-Tests-HockeySDK" -l"Pods-Tests-NSLogger" -l"Pods-Tests-PureLayout" -l"Pods-Tests-RMStore" -l"Pods-Tests-Reachability" -l"Pods-Tests-ReactiveCocoa" -l"Pods-Tests-SSKeychain" -l"Pods-Tests-SocketRocket" -l"Pods-Tests-SocketShuttle" -l"crypto" -l"icucore" -l"ssl" -framework "CFNetwork" -framework "CoreGraphics" -framework "CoreText" -framework "CrashReporter" -framework "MobileCoreServices" -framework "QuartzCore" -framework "Security" -framework "StoreKit" -framework "SystemConfiguration" -framework "UIKit"
OTHER_LIBTOOLFLAGS = $(OTHER_LDFLAGS)
PODS_ROOT = ${SRCROOT}/Pods